
:root {
    --color-principal: #0056b3;  /* Azul similar al diseño */
    --color-texto: #ffffff;  /* Blanco para texto */
    --color-fondo-menu: #ffffff;  /* Fondo blanco para el menú */
    --color-fondo-boton: #007bff; /* Azul para botones */
    --color-boton-hover: #0056b3;  /* Azul oscuro al pasar el mouse */
    --color-fondo-hover: #f1f1f1;  /* Fondo claro al pasar el mouse */
    --color-boton-texto: #ffffff; /* Texto blanco en botones */
}


.accesibilidad-menu {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: var(--color-principal);
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
    color: var(--color-texto);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


.accesibilidad-menu #menu-toggle {
    color: var(--color-boton-texto);
    background-color: var(--color-principal);
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    text-align: center;
}

.accesibilidad-menu #menu-toggle:hover {
    background-color: var(--color-boton-hover);
}


.accesibilidad-content {
    display: none;
    margin-top: 10px;
    background-color: var(--color-fondo-menu);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.accesibilidad-content button {
    background: transparent;
    color: var(--color-principal);
    border: 1px solid var(--color-principal);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.accesibilidad-content button:hover {
    background: var(--color-principal);
    color: var(--color-boton-texto);
}


.accesibilidad-menu.open .accesibilidad-content {
    display: block;
}